@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

* {
  padding: 0;
  margin: 0;
}

input {
  all: unset;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

html,
body {
  font-family: 'times new roman', times, serif;
  font-size: 16px;
}

/* 全站統一 <a> 樣式 */
a {
  color: inherit !important; /* 繼承父層顏色，避免不同顏色 */
  text-decoration: none !important; /* 移除底線 */
  font-weight: normal !important; /* 避免部分 <a> 變粗 */
}

/* 如果 <a> 需要 hover 效果 */
a:hover {
  text-decoration: underline !important;
  color: #0044cc !important; /* 你可以換成你的主色 */
}


/* UNSUPPORTED CSS FIX aspect */
@supports not (aspect-ratio: 7.69/1) {
  .aspect-7_69_1::before {
    content: "";
    float: left;
    padding-top: 13%;
  }

  .aspect-7_69_1::after {
    display: block;
    content: "";
    clear: both;
  }
}