@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

.prose {
  @apply prose-lg text-gray-800 max-w-none;
}

.dark .prose {
  /* @apply text-gray-200; */
}

* {
  padding: 0;
  margin: 0;
}

input {
  all: unset;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

html,
body {
  font-family: 'times new roman', times, serif;
  font-size: 16px;
}

/* 全站統一 <a> 樣式，防止變色 */
a {
  color: inherit !important; /* 繼承父層顏色 */
  text-decoration: none !important; /* 移除底線 */
  font-weight: normal !important; /* 避免字體變粗 */
}

/* 防止 hover 變色 */
a:hover {
  color: inherit !important;
  text-decoration: none !important;
}


/* UNSUPPORTED CSS FIX aspect */
@supports not (aspect-ratio: 7.69/1) {
  .aspect-7_69_1::before {
    content: "";
    float: left;
    padding-top: 13%;
  }

  .aspect-7_69_1::after {
    display: block;
    content: "";
    clear: both;
  }
}